<h1 class="title-form">Create your list</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-control formulaire">
    <div class="form-inputs mb-3">
      <%= f.input :name , label:"List Name"%>
    </div>
    <div class="form-actions button m-0">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
