
<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%# <%= render list %>

  <div class="card" style="width: 18rem;">
        <%= cl_image_tag list.photo.key %>
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
        </div>
  </div>

    <p>
      <%= link_to "Show this list", list %>
    </p>
  <% end %>
</div>
<%= link_to "New list", new_list_path %>
